extends layout/index.pug 
//- comentario mandamos a llamar el block extends yla dirrecion cuidado con las tabulaciones se pone tabulacion o espacios pero no los dos al mismo tiempo
block contenido 
	h1.text-center #{pagina}
	main.container.mt-5
		include layout/viajesblock.pug
		
							
						
											  

		
																		
								  
							
							




 						



