footer.container.py5-5.footer-color
	div.row.justify-content-center
		div.col-md-6 
			nav.nav.footer.justify-content-center
				a.nav-link(href="/nosotros") Nosotros
				a.nav-link(href="/viajes") Viajes
				a.nav-link(href="/testimoniales") Testimoniales
	footer.text-black.text-center.p-2.site-footer
		p.h5(_msthash='349544' _msttexthash='88127') &copy;Desarrollador 
		p.h5(_msthash='349661' _msttexthash='898755') Ricardo Altamirano Sanchez
	
		